@import './base.css';

#app {
  margin: 0 auto;
  padding: 0 auto;
  font-weight: normal;
  width: 100vw;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
  }
}

:root {
  --actual-color: #4299e1;
  --board-bg: #f4f5f7;
  --border-color: #dfe1e6;
  --card-bg: #ffffff;
  --column-bg: #ebecf0;
  --completed-color: #4299e1;
  --focus-color: #4299e1;
  --ideal-color: #a0aec0;
  --light-grid: #e2e8f0;
  --pending-color: #f56565;
  --text-color: #2d3748;
  --color-todo: #f56565;
  --color-progress: #4299e1;
  --color-testing: #ecc94b;
  --color-done: #40bb78;
}